#pragma code_page(65001)

#include "resource.h"
#include "control_ids.h"
#include <windows.h>


IDD_STAYAWAKE_DOCKPANEL DIALOGEX 26, 41, 211, 223
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "<StayAwake>"
FONT 8, "MS Shell Dlg", 400, 0, 0x0
BEGIN
    RTEXT           "StayAwake &Key simulation:", IDC_STAYAWAKE_KEY_LABEL,0,18,100,8
    COMBOBOX        IDC_STAYAWAKE_KEY_LIST,102,15,88,13,CBS_DROPDOWNLIST | WS_VSCROLL | WS_TABSTOP
    RTEXT           "&Seconds between Awakes:", IDC_STAYAWAKE_INTERVAL_LABEL,0,38,100,8
    EDITTEXT        IDC_STAYAWAKE_INTERVAL,102,35,27,13,ES_NUMBER
    PUSHBUTTON      "Set &Timer",IDC_STAYAWAKE_SET_INTERVAL,139,34,54,14
    RTEXT           "",IDC_STAYAWAKE_LAST_TOGGLE,0,57,143,8
    RTEXT           "",IDC_STAYAWAKE_NEXT_TOGGLE,0,72,143,8
    CONTROL         "Stealth Mode",IDC_STAYAWAKE_STEALTH_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,94,55,10
    PUSHBUTTON      "&Pause",IDC_STAYAWAKE_PAUSE_RESUME_BTN,80,91,50,14
    PUSHBUTTON      "&Close",IDCLOSE,142,91,50,14
    PUSHBUTTON      "...",IDC_STAYAWAKE_ABOUT_BUTTON,166,417,15,13,BS_BITMAP
END


// BITMAPS
IDB_STAYAWAKE_ABOUT_BITMAP BITMAP                  "about.bmp"
IDI_STAYAWAKE_BTN_STD ICON                         "StayAwake.ico"
IDI_DOCK_DARK_MODE_ICON ICON                       "dock_dark.ico"
IDI_DOCK_LITE_MODE_ICON ICON                       "dock_lite.ico"
