#pragma code_page(65001)

#include "resource.h"
#include "control_ids.h"
#include <windows.h>


IDD_STAYAWAKE_DOCKPANEL DIALOGEX 26, 41, 211, 243
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "<StayAwake>"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Select multiple &options for random simulation",IDC_SELECT_INPUT_OPTIONS_BTN,13,12,179,14
    RTEXT           "&Minimum Awake Seconds:",IDC_STATIC,0,38,100,8
    EDITTEXT        IDC_INTERVAL_MIN_EDIT,102,35,27,13,ES_NUMBER
    RTEXT           "Ma&ximum Awake Seconds:",IDC_STATIC,0,58,100,8
    EDITTEXT        IDC_INTERVAL_MAX_EDIT,102,55,27,13,ES_NUMBER
    PUSHBUTTON      "Set &Timer",IDC_SET_TIMER_BTN,138,34,54,34
    RTEXT           "",IDC_LAST_EVENT_TIME_INFO,0,77,143,8
    RTEXT           "",IDC_LAST_EVENT_INPUT_INFO,0,85,143,8
    RTEXT           "",IDC_NEXT_EVENT_TIME_INFO,0,95,143,8
    CONTROL         "&Stealth Mode",IDC_STEALTH_MODE_CBX,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,117,55,10
    PUSHBUTTON      "&Pause",IDC_PAUSE_RESUME_BTN,80,114,50,14
    PUSHBUTTON      "&Close",IDCLOSE,142,114,50,14
    PUSHBUTTON      "...",IDC_ABOUT_BTN,166,417,15,13,BS_BITMAP
END


IDD_SELECT_KEYCODES_DIALOG DIALOGEX 0, 0, 330, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select multiple simulation options"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "&Scroll Lock cycling",IDC_KEY_SCROLL_LOCK,"Button",BS_AUTOCHECKBOX |  WS_TABSTOP,20,15,90,10
    CONTROL         "&Volume Down && Up",IDC_KEY_VOLUME_UP_DOWN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,30,90,10
    CONTROL         "Unassigned Key #&1",IDC_KEY_UNASSIGNED_1,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,45,90,10
    CONTROL         "Unassigned Key #&2",IDC_KEY_UNASSIGNED_2,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,60,90,10
    CONTROL         "Unassigned Key #&3",IDC_KEY_UNASSIGNED_3,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,75,90,10
    CONTROL         "Unassigned Key #&4",IDC_KEY_UNASSIGNED_4,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,90,90,10
    CONTROL         "Unassigned Key #&5",IDC_KEY_UNASSIGNED_5,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,105,90,10
    CONTROL         "Unassigned Key #&6",IDC_KEY_UNASSIGNED_6,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,120,90,10
    CONTROL         "Unassigned Key #&7",IDC_KEY_UNASSIGNED_7,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,135,90,10
    CONTROL         "Unassigned Key #&8",IDC_KEY_UNASSIGNED_8,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,150,90,10
    CONTROL         "Unassigned Key #&9",IDC_KEY_UNASSIGNED_9,"Button",BS_AUTOCHECKBOX |   WS_TABSTOP,20,165,90,10
    CONTROL         "Unassigned Key #1&0",IDC_KEY_UNASSIGNED_10,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,180,90,10
    CONTROL         "Extended FN Key: F13",IDC_KEY_F13,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,15,90,10
    CONTROL         "Extended FN Key: F14",IDC_KEY_F14,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,30,90,10
    CONTROL         "Extended FN Key: F15",IDC_KEY_F15,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,45,90,10
    CONTROL         "Extended FN Key: F16",IDC_KEY_F16,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,60,90,10
    CONTROL         "Extended FN Key: F17",IDC_KEY_F17,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,75,90,10
    CONTROL         "Extended FN Key: F18",IDC_KEY_F18,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,90,90,10
    CONTROL         "Extended FN Key: F19",IDC_KEY_F19,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,105,90,10
    CONTROL         "Extended FN Key: F20",IDC_KEY_F20,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,120,90,10
    CONTROL         "Extended FN Key: F21",IDC_KEY_F21,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,135,90,10
    CONTROL         "Extended FN Key: F22",IDC_KEY_F22,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,150,90,10
    CONTROL         "Extended FN Key: F23",IDC_KEY_F23,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,165,90,10
    CONTROL         "Extended FN Key: F24",IDC_KEY_F24,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,120,180,90,10
    CONTROL         "One-pixel Mouse &Jiggle",IDC_MOUSE_MOVE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,225,15,90,10
    CONTROL         "Zero-pixel Mouse &Move",IDC_MOUSE_MOVE_ZERO,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,225,30,90,10
    PUSHBUTTON      "Select &None",IDC_KEY_SELECT_NONE_BTN,225,55,85,14
    PUSHBUTTON      "Select All &Unassigned", IDC_KEY_SELECT_ALL_UNASSGND_BTN,225,80,85,14
    PUSHBUTTON      "Select All Ext. &FN Keys", IDC_KEY_SELECT_ALL_EXT_FN_BTN,225,105,85,14
    PUSHBUTTON      "Select &All",IDC_KEY_SELECT_ALL_BTN,225,130,85,14
    DEFPUSHBUTTON   "A&pply",IDOK,225,155,85,14
    PUSHBUTTON      "&Cancel",IDCANCEL,225,180,85,14
    PUSHBUTTON      "...",IDC_INPUT_OPTIONS_INFO_BTN,312,2,15,13,BS_BITMAP
END


// BITMAPS
IDI_STAYAWAKE_BTN_STD   ICON                       "StayAwake.ico"
IDI_DOCK_DARK_MODE_ICON ICON                       "dock_dark.ico"
IDI_DOCK_LITE_MODE_ICON ICON                       "dock_lite.ico"
IDB_ABOUT_BITMAP        BITMAP                     "about.bmp"
IDB_INFO_BITMAP         BITMAP                     "information.bmp"
