#pragma code_page(65001)

#include "resource.h"
#include "control_ids.h"
#include <windows.h>


IDD_STAYAWAKE_DOCKPANEL DIALOGEX 26, 41, 211, 243
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "<StayAwake>"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    PUSHBUTTON      "Select multiple &Key Codes for random simulation",IDC_STAYAWAKE_KEYS_ROSTER_BTN,13,12,179,14
    RTEXT           "&Minimum Awake Seconds:",IDC_STATIC,0,38,100,8
    EDITTEXT        IDC_STAYAWAKE_INTERVAL_MIN,102,35,27,13,ES_NUMBER
    RTEXT           "Ma&ximum Awake Seconds:",IDC_STATIC,0,58,100,8
    EDITTEXT        IDC_STAYAWAKE_INTERVAL_MAX,102,55,27,13,ES_NUMBER
    PUSHBUTTON      "Set &Timer",IDC_STAYAWAKE_SET_INTERVAL_BTN,138,34,54,34
    RTEXT           "",IDC_STAYAWAKE_LAST_EVENT,0,77,143,8
    RTEXT           "",IDC_STAYAWAKE_LAST_KEYCODE,0,85,143,8
    RTEXT           "",IDC_STAYAWAKE_NEXT_EVENT,0,95,143,8
    CONTROL         "&Stealth Mode",IDC_STAYAWAKE_STEALTH_MODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,10,117,55,10
    PUSHBUTTON      "&Pause",IDC_STAYAWAKE_PAUSE_RESUME_BTN,80,114,50,14
    PUSHBUTTON      "&Close",IDCLOSE,142,114,50,14
    PUSHBUTTON      "...",IDC_STAYAWAKE_ABOUT_BUTTON,166,417,15,13,BS_BITMAP
END


IDD_SELECT_KEYCODES_DIALOG DIALOGEX 0, 0, 180, 205
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Select multiple Key Codes"
FONT 8, "MS Shell Dlg", 0, 0, 0x1
BEGIN
    CONTROL         "&Scroll Lock cycling",IDC_KEY_SCROLL_LOCK,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,15,90,10
    CONTROL         "&Volume Down && Up",IDC_KEY_VOLUME_UP_DOWN,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,30,90,10
    CONTROL         "Unassigned Key #&1",IDC_KEY_UNASSIGNED_1,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,45,90,10
    CONTROL         "Unassigned Key #&2",IDC_KEY_UNASSIGNED_2,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,60,90,10
    CONTROL         "Unassigned Key #&3",IDC_KEY_UNASSIGNED_3,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,75,90,10
    CONTROL         "Unassigned Key #&4",IDC_KEY_UNASSIGNED_4,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,90,90,10
    CONTROL         "Unassigned Key #&5",IDC_KEY_UNASSIGNED_5,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,105,90,10
    CONTROL         "Unassigned Key #&6",IDC_KEY_UNASSIGNED_6,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,120,90,10
    CONTROL         "Unassigned Key #&7",IDC_KEY_UNASSIGNED_7,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,135,90,10
    CONTROL         "Unassigned Key #&8",IDC_KEY_UNASSIGNED_8,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,150,90,10
    CONTROL         "Unassigned Key #&9",IDC_KEY_UNASSIGNED_9,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,165,90,10
    CONTROL         "Unassigned Key #1&0",IDC_KEY_UNASSIGNED_10,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,20,180,90,10
    PUSHBUTTON      "Select &All",IDC_KEY_SELECT_ALL_BTN,115,15,50,14
    PUSHBUTTON      "Select &None",IDC_KEY_SELECT_NONE_BTN,115,35,50,14
    DEFPUSHBUTTON   "A&pply",IDOK,115,55,50,14
    PUSHBUTTON      "&Cancel",IDCANCEL,115,75,50,14
END


// BITMAPS
IDB_STAYAWAKE_ABOUT_BITMAP BITMAP                  "about.bmp"
IDI_STAYAWAKE_BTN_STD ICON                         "StayAwake.ico"
IDI_DOCK_DARK_MODE_ICON ICON                       "dock_dark.ico"
IDI_DOCK_LITE_MODE_ICON ICON                       "dock_lite.ico"
